body {
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
.head-panel {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 150px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-image: url('../images/CoverImage.png');
  background-position: 0px -37px;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.title {
  font-family: Exo, sans-serif;
  color: #856161;
  font-size: 92px;
  text-align: center;
}
.headingsection {
  height: 123px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.user {
  display: inline;
}
.topmenu {
  top: 0px;
  right: 0px;
  display: inline-block;
  color: red;
  text-align: left;
}
.top-image {
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100%;
  min-width: 0px;
  margin-top: -337px;
  margin-bottom: 8px;
  padding-bottom: 0px;
}
.in-image-text {
  color: #999;
  text-align: center;
}
.about {
  position: static;
  left: 0px;
  top: 0px;
  display: inline;
  overflow-x: visible;
  overflow-y: visible;
  float: none;
  clear: none;
  direction: ltr;
  color: #999;
  text-align: center;
}
.about-column {
  left: 0px;
  top: 19px;
  text-align: center;
}
.advanced {
  padding-top: 0px;
}
.submit-advanced {
  margin-top: 0px;
}
.usermenu {
  color: #999;
}
.search-page-search {
  margin-top: 0px;
}
.searchpagetitle {
  display: block;
  margin-top: 0px;
  font-family: Exo, sans-serif;
  color: #999;
  font-size: 42px;
  line-height: 29px;
  font-style: italic;
  text-align: center;
}
.title-text {
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  color: #999;
  line-height: 100px;
}
.results-heading {
  margin-left: -15px;
  font-family: Exo, sans-serif;
  font-size: 11px;
}
.resultheading {
  font-family: Exo, sans-serif;
}
.results-text {
  text-align: center;
}
.search-navigate {
  text-align: center;
}
.bottom-text {
  margin-top: 84px;
}
.projectheading {
  margin-top: 73px;
  font-family: Exo, sans-serif;
}
.bottom-text-project-page {
  text-align: center;
}
.toprow {
  height: auto;
}
.smallheaderlink {
  color: #999;
  text-decoration: none;
}
.invalidmessage {
  color: #fd0000;
}
.favorite-button {
  float: right;
}
.favcontainer {
  margin-top: 18px;
}
.modifybutton {
  float: right;
}
.user-project-view {
  padding-bottom: 20px;
}
.ratebutton {
  background-color: #3898ec;
}
.smallheadsection {
  margin-top: 1px;
  margin-bottom: 128px;
}
.projectdisp {
  margin-top: 16px;
}
.userprojectheadingtext {
  color: #999;
  text-decoration: none;
}
.bottomrow {
  margin-top: 18px;
}
.welcomeblurb {
  margin-top: 16px;
  float: left;
  text-align: center;
}
.projectdescriptiontext {
  margin-top: 32px;
  margin-bottom: 20px;
}
.previous-page.w--current {
  float: right;
}
.log-in-button {
  color: #999;
}
.toprowsection {
  height: auto;
}
.submit-button {
  float: right;
}
@media (max-width: 991px) {
  .head-panel {
    margin-bottom: 0px;
    background-size: 949px;
    background-attachment: scroll;
  }
  .title {
    color: #888282;
  }
  .top-image {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .head-panel {
    margin-bottom: 0px;
    background-attachment: scroll;
  }
  .headingsection {
    height: auto;
  }
}
@media (max-width: 479px) {
  .head-panel {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}